.coloredButton[b-wne60mb2ri] {
    background: transparent;
    border: 1px var(--black) solid;
    color: white;
    font-size: calc(0.85rem *1.2);
    
    padding-block: calc(var(--spacing) * 3);
    padding-inline: calc(var(--spacing) * 4);
    border-radius: calc(var(--radius) - 2px);

    transition: 0.25s;
}
.coloredButton:hover[b-wne60mb2ri]{
    background: color-mix(in oklab, var(--cyanColorBase) 60%, transparent);
    color: var(--background);
}