.squareCard[b-0dy1aak9lz]{
    width: 310px;
    height: 275px;
    background: var(--background);
    border-radius: calc(var(--radius) * 2);
    padding: 30px;
    box-sizing: border-box;
    transition: 0.5s;
}
.squareCard:hover[b-0dy1aak9lz]{
    box-shadow: -2px 2px 5px color-mix(in oklch, var(--cyanColorBase) 50%, transparent), 
                2px 2px 5px color-mix(in oklch, var(--purpleColorBase) 90%, transparent);    
}


@media(max-width: 900px){
    .squareCard[b-0dy1aak9lz]{
        width: 200px;
        height: fit-content;
        padding: 10px;
    }

}