.squareCard[b-6g19xr893y]{
    width: 310px;
    height: 275px;
    background: var(--background);
    border-radius: calc(var(--radius) * 2);
    padding: 30px;
    box-sizing: border-box;
    transition: 0.5s;
}
.squareCard:hover[b-6g19xr893y]{
    box-shadow: -2px 2px 5px color-mix(in oklch, var(--cyanColorBase) 50%, transparent), 
                2px 2px 5px color-mix(in oklch, var(--purpleColorBase) 90%, transparent);    
}