.blackButton[b-wwqe3c333r]{
    background: black;
    color: white;
    font-size: calc(0.85rem *1.2);
    padding: 0px;
    border-radius: calc(var(--radius) - 2px);
    margin-block: 30px;
    margin-inline: 10px;
}

@media(max-width: 900px){
    .blackButton[b-wwqe3c333r]{
        margin-block: 10px;
    }
}