.styleBackground{
    background-color: var(--background);
    width: 100vw;
    min-height: 500px;
    position: relative;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.first-flash
{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: color-mix(in oklab, var(--cyanColorBase) 10%, transparent);
    filter: blur(4rem);
}

.second-flash{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    position: absolute;
    bottom: 0%;
    right: 0%;
    background-color: color-mix(in oklab, var(--purpleColorBase) 10%, transparent);
    filter: blur(4rem);
}

